.titleBar {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 16px
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo{
  border-radius: 100%; 
}
.grow:hover,
.grow:focus {
  transform: scale(1.05);
}

.dim:hover,
.dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}
.button1{border-radius: 8px;
  background: linear-gradient(to right, #ee0979, #ff6a00);
width: 50px;
}

  .h2{
    font-size: 2.25rem;
    font-family: fantasy;
  }

  .p{
    font-size:20px;
    padding-top: 1em;
    padding-bottom: 0em;

  }
